/* ------------------------------------------------------------
------------------------Color Palette-------------------------------------------------
----------------------------------------------------------------------------------------  */

/*----------------------------------------------------------------------------------------
-------------------------- Global styles---------------------------------------------------
----------------------------------------------------------------------------------------*/
body {
	font-family: arial;
    font-size: 16px;
    color: black;
}

.container{
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas:
        "grid-header   grid-header   grid-header"
        "grid-projects grid-projects grid-projects"
        "grid-contact  grid-about    grid-about"
        "grid-footer   grid-footer   grid-footer";
    }

    .grid-projects {
        grid-area: grid-projects;
    }

    .grid-contact {
        grid-area: grid-contact;
    }

    .grid-about {
        grid-area: grid-about;
    }
/* #title  {
    font-family: arial;
    font-size: 30px;
    color: purple
		} */
	
/*----------------------------------------------------------------------------------------------------------------------Header and Footer styles------------------------------------
----------------------------------------------------------------------------------------*/

/* ----------------------Header------------------------------------------------ */
header {
    grid-area:grid-header;
}
/* ----------------------FOOTER------------------------------------------------ */
footer {
    grid-area: grid-footer;
}
/* ----------------------Navigation------------------------------------------------ */


/*---------------------------------------------------------------------------------------- ---------------------------------------Media Queries-------------------------------------
----------------------------------------------------------------------------------------*/
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}