/* ------------------------------------------------------------
------------------------Color Palette-------------------------------------------------
----------------------------------------------------------------------------------------  */

/*----------------------------------------------------------------------------------------
-------------------------- Global styles---------------------------------------------------
----------------------------------------------------------------------------------------*/
html {
  box-sizing: border-box; 
  /*fixes box sizing issues with Flex, SEE https://css-tricks.com/flexbox-nav-bar-fixed-variable-take-rest-elements/*/
    font-family: arial;
    font-size: 1rem;
    color: black;
  }

 *, *:before, *:after {  /*fixes box sizing issues for different OS versions*/
  box-sizing: inherit;
}

 /* remove whitespace around page */
  body {
    margin: 0;  
  }
  


.container{
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: .4fr .2fr .4fr;
    grid-template-rows:  25% auto 30% 10%;
    grid-gap: 5px 5px;
    background-color: blanchedalmond;
    }

    main {
        display: grid;
        grid-template-columns: .4fr .2fr .4fr;
        grid-template-rows: 25% auto 30% 10%;
        grid-gap: 5px 5px;
        grid-column: 1/4;
        grid-row: 2/4;
    }

    h2,h3,h4,p {
        margin: 0 auto;
        padding: 10px;
    }

    

    #projects {
        border: 1px solid black;
        background-color: plum;
        grid-column: 1/4;
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
                      
    }
    .project-section {
        display: flex;
        /* justify-content: space-between; */
        flex-wrap: wrap;
    }

    .section-header {
        background-color: antiquewhite;
        width: 10%;
        padding: 10px;
        border: 2px solid black;
    }
    
    .project-tile {
        border: 1px solid black;
        flex: 1 1 15%;    /* flex-grow  flex-shrink  width*/
    }

    .project-tile a{
        text-decoration: none;
    }


    img.thumbnail {
        /* allow image to center */
        display: block;
        margin: 5px auto;
        border: 2px solid black;       
    }

    /* enlarge image on hover */
    img.thumbnail:hover {
         transform: scale(1.5);
}
    .tile-content {
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: smaller;
    }
    #contact {
        border: 1px solid black;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #about {
        border: 1px solid black;
        grid-column: 2/4;
        grid-row: 3/4;

    }
/* #title  {
    font-family: arial;
    font-size: 30px;
    color: purple
		} */
	
/*----------------------------------------------------------------------------------------------------------------------Header and Footer styles------------------------------------
----------------------------------------------------------------------------------------*/

/* ----------------------Header------------------------------------------------ */
header {
    background-color: aqua;
    /* set up grid */
    grid-column: 1/4;
    grid-row: 1/2;
    /* align items within grid with flex */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header #welcome-section {
    border: 1px solid black;
    text-transform: uppercase;
    padding: 10px 150px;
        
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

header #navbar {
    border: 1px solid black;
    margin: 0 auto;
    padding: 0;

    display: flex;
    flex: 2;       /* takes up twice space as 1 */
}

header #navbar ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    }

header #navbar li {
    list-style-type: none;
    border: 1px solid black;
    margin: 0 20px;
    padding: 0 10px;
    /* put list items next to each other */
    /* display: inline; */
    /* justify-content: space-evenly; */

    display: flex;
    flex: 1;                      /* take up the rest of the remaining space */
    } 

header #navbar li a{
    flex: 1;
    padding: 5px 20px;
    text-align: center;
}
/* ----------------------FOOTER------------------------------------------------ */
footer {
    border: 1px solid black;
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: gainsboro;

}
/* ----------------------Navigation------------------------------------------------ */


/*---------------------------------------------------------------------------------------- ---------------------------------------Media Queries-------------------------------------
----------------------------------------------------------------------------------------*/
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}
/* move secrtion-header from side to top */
@media only screen  and (max-width : 1250px) {
   .section-header {
       width: 100%;
       text-align: center;
   }
}