/* ------------------------------------------------------------
------------------------Color Palette-------------------------------------------------
----------------------------------------------------------------------------------------  */

/*----------------------------------------------------------------------------------------
-------------------------- Global styles---------------------------------------------------
----------------------------------------------------------------------------------------*/
body {
	font-family: arial;
    font-size: 16px;
    color: blue;
}


#title  {
    font-family: arial;
    font-size: 30px;
    color: purple
		}
	
/*----------------------------------------------------------------------------------------------------------------------Header and Footer styles------------------------------------
----------------------------------------------------------------------------------------*/

/* ----------------------Header------------------------------------------------ */
/* ----------------------FOOTER------------------------------------------------ */
/* ----------------------Navigation------------------------------------------------ */


/*---------------------------------------------------------------------------------------- ---------------------------------------Media Queries-------------------------------------
----------------------------------------------------------------------------------------*/
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}